@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/style.css');
@import 'tailwindcss';

:root {
  /* Surface */
  --surface-primary: #efe9dc;
  --surface-contrast: #f6f2eb;
  --surface-secondary: #a7a39a;
  --surface-invert: #272622;
  --surface-brand: #706c61;
  --surface-modal-bg: rgba(39, 38, 34, 0.7);

  /* Text */
  --text-primary: #272622;
  --text-contrast: #928e86;
  --text-secondary: #f6f2eb;
  --text-invert: #efe9dc;
  --text-brand: #706c61;

  /* Icon */
  --icon-primary: #272622;
  --icon-contrast: #928e86;
  --icon-secondary: #f6f2eb;
  --icon-brand: #706c61;

  /* Border */
  --border-primary: #272622;
  --border-contrast: #928e86;
  --border-brand: #706c61;

  /* Button */
  --button-default: #706c61;
  --button-hover: #272622;
  --button-active: #272622;
  --button-disabled: #a7a39a;
  --button-invert: #efe9dc;

  /* Radius */
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-6: 24px;

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;

  /* Elevation */
  --elevation-1: 0 2px 10px rgba(0, 0, 0, 0.05);
  --elevation-2: 0 2px 10px rgba(0, 0, 0, 0.1);
  --elevation-3: 0 2px 10px rgba(0, 0, 0, 0.15);

  --font: 'SUIT Variable', sans-serif;
}

body {
  background-color: var(--surface-primary);
  color: var(--text-primary);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.heading-lg {
  font: 700 33px/39.6px var(--font);
  letter-spacing: -0.924px;
}
.heading-sm {
  font: 700 23px/27.6px var(--font);
  letter-spacing: -0.644px;
}
.body-md {
  font: 400 16px/25.28px var(--font);
  letter-spacing: -0.448px;
}
.label-lg {
  font: 600 16px/19.2px var(--font);
  letter-spacing: -0.448px;
}
.label-md {
  font: 600 13px/15.6px var(--font);
  letter-spacing: -0.364px;
}
.label-sm {
  font: 600 11px/13.2px var(--font);
  letter-spacing: 0px;
}
.text-invert {
  color: var(--text-invert);
}
.text-primary {
  color: var(--text-primary);
}
.btn-base {
  background: var(--button-default);
  color: var(--button-invert);
  border-radius: var(--radius-1);
  padding: var(--spacing-2) var(--spacing-3);
  font: 600 16px/19.2px var(--font);
  letter-spacing: -0.448px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  transition:
    background 150ms ease,
    transform 150ms ease;
  width: 280px;
  box-shadow: var(--elevation-1);
}

.btn-base:hover {
  background: var(--button-hover);
}

.btn-base:active {
  transform: scale(0.97);
  background: var(--button-active);
}

.btn-outline {
  border: 1.5px solid var(--border-primary);
  background: transparent;
  color: var(--text-primary);
}

.icon-btn-base {
  color: var(--button-brand);
  border-radius: var(--radius-1);
  padding: var(--spacing-3) var(--spacing-3);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  transition:
    background 150ms ease,
    transform 150ms ease;
  width: 48px;
}
.filter-btn {
  color: var(--button-invert);
  border-radius: var(--radius-1);
  padding: var(--spacing-2) var(--spacing-3);
  font: 600 13px/15.6px var(--font);
  letter-spacing: -0.364px;
  border: none;
  cursor: pointer;
  transition:
    background 150ms ease,
    transform 150ms ease;
  box-shadow: var(--elevation-1);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 32px;
  white-space: nowrap;
}

.bg-secondary {
  background-color: var(--surface-secondary);
}
.bg-brand {
  background-color: var(--surface-brand);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
